
<br>

<main class="container">

<br>

 <!--  <nav class="ajouterBtn">
    <a routerLink="/add">
      <button mat-flat-button color="accent" class="ajouterBtn"> Ajouter Devoir</button>
    </a>
  </nav> -->

  <div class="assignmentInfo">

  <p> Nb total d'assignments: {{totalDocs}}</p>
  <p> Nb total de totalPages: {{totalPages}}</p>
  <p> Nb assignments par page: <input type="range" min=1 max=100 value=10 (change)="getAssignments()" [(ngModel)]="limit"> {{limit}}</p> 
  <div class="paginationBtn">
  <button mat-raised-button color="primary" (click)="premierePage()" [disabled]="page===1">Première</button>&nbsp;
  <button mat-raised-button color="primary" (click)="pagePrecedente()" [disabled]="!hasPrevPage">Précédente</button>&nbsp;
  <button mat-raised-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Suivante</button>&nbsp;
  <button mat-raised-button color="primary" (click)="dernierePage()" [disabled]="page===totalPages">Dernière</button>&nbsp;
  </div>
  </div>
  <br>
  

 <!--**<mat-list *ngFor=" let assignment of assignments; let i = index">
    <nav>
      <a routerLink="/assignment/{{assignment.id}}">
        <h3 mat-subheader> {{assignment.dateDeRendu | date:'short' }}</h3>-->
        <!-- passage code au fils (click)="assignmentClique(assignment)"-->
     <!--   <mat-list-item>
          <p appRendu *ngIf="assignment.rendu ; else nonSoumis">
            Devoir intitulé: {{assignment.nom}}, a été rendu.-->
            <!--le: {{assignment.dateDeRendu}}, rendu par l'élève: {{assignment.rendu}}-->
         <!-- </p>

          <ng-template #nonSoumis>
            <p> Le devoir {{assignment.nom}} n'a pas été rendu</p>

          </ng-template>

          <mat-divider> </mat-divider>
        </mat-list-item>
      </a>
    </nav>

  </mat-list>-->
  <!--<app-assignment-detail [assignmentTransmis]="assignmentSelectionne">

</app-assignment-detail>-->

<mat-form-field>
  <mat-label>Trier</mat-label>
  <mat-select (selectionChange)="trier($event)">
    <mat-option *ngFor="let opt of sortOpt" [value]="opt">
                    {{opt}}
                </mat-option>
  </mat-select>
</mat-form-field>

  <p class="search-test">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchText" (focus)="focused=true" (change)="search()" autocomplete="on"
      placeholder="votre recherche ici">
              <button *ngIf="focused" (click)="onFocusOut()">X</button>
              <button *ngIf="!focused"> O </button>
              <!-- <i class="fa fa-search"></i> -->
            
  </p>
  
<div class="table" >
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8 demo-table">
    <!-- Position Column -->
    <ng-container matColumnDef="demo-id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="demo-nom">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <!-- prof Column -->
    <ng-container matColumnDef="demo-prof">
      <th mat-header-cell *matHeaderCellDef> Professeur </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.urlTeacherImage">
      </td>
    </ng-container>

    <!-- matiere Column -->
    <ng-container matColumnDef="demo-matiere">
      <th mat-header-cell *matHeaderCellDef> Cours </th>
      <td mat-cell *matCellDef="let element">
        <img [src]="element.urlSubjectImage">
      </td>
    </ng-container>

    <!-- eleve Column -->
    <ng-container matColumnDef="demo-eleve">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Elève </th>
      <td mat-cell *matCellDef="let element"> {{element.auteur}} </td>
    </ng-container>


    <!-- note Column -->
    <ng-container matColumnDef="demo-note">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by name"> Note </th>
      <td mat-cell *matCellDef="let element"> {{element.note}} </td>
    </ng-container>



    <!-- date Column -->
    <ng-container matColumnDef="demo-dateDeRendu">
      <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by date"> Date de rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDeRendu|date}} </td>
    </ng-container>

    <!-- rendu Column -->
    <ng-container matColumnDef="demo-rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.rendu?'oui':'non'}} </td>

    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true; "></tr>
    <tr mat-row routerLink="/assignment/{{row.id}}" *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>



</main>


<!--<app-add-assignment *ngIf="formVisible" (nouvelAssignment)="onNouvelAssignment($event)"> </app-add-assignment>-->