

<app-navbar> </app-navbar>

<!--<h1>
    <nav>
        <a routerLink="/home">Application de gestion des assignments</a>
    </nav>
    

</h1>

**
<section>
    <div class="example-label">Basic</div>
    <div class="example-button-row">
        <button mat-button>Basic</button>
        <button mat-button color="primary">Primary</button>
        <button mat-button color="accent">Accent</button>
        <button mat-button color="warn">Warn</button>
        <button mat-button disabled>Disabled</button>
        <a mat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div class="example-label">Raised</div>
    <div class="example-button-row">
        <button mat-raised-button>Basic</button>
        <button mat-raised-button color="primary">Primary</button>
        <button mat-raised-button color="accent">Accent</button>
        <button mat-raised-button color="warn">Warn</button>
        <button mat-raised-button disabled>Disabled</button>
        <a mat-raised-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div class="example-label">Stroked</div>
    <div class="example-button-row">
        <button mat-stroked-button>Basic</button>
        <button mat-stroked-button color="primary">Primary</button>
        <button mat-stroked-button color="accent">Accent</button>
        <button mat-stroked-button color="warn">Warn</button>
        <button mat-stroked-button disabled>Disabled</button>
        <a mat-stroked-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div class="example-label">Flat</div>
    <div class="example-button-row">
        <button mat-flat-button>Basic</button>
        <button mat-flat-button color="primary">Primary</button>
        <button mat-flat-button color="accent">Accent</button>
        <button mat-flat-button color="warn">Warn</button>
        <button mat-flat-button disabled>Disabled</button>
        <a mat-flat-button href="https://www.google.com/" target="_blank">Link</a>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div class="example-label">Icon</div>
    <div class="example-button-row">
        <div class="example-flex-container">
            <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
                <mat-icon>more_vert</mat-icon>
            </button>
            <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
                <mat-icon>favorite</mat-icon>
            </button>
            <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
                <mat-icon>open_in_new</mat-icon>
            </button>
        </div>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div class="example-label">FAB</div>
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <button mat-fab color="primary" aria-label="Example icon button with a delete icon">
                    <mat-icon>delete</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab color="accent" aria-label="Example icon button with a bookmark icon">
                    <mat-icon>bookmark</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab color="warn" aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-fab disabled aria-label="Example icon button with a heart icon">
                    <mat-icon>favorite</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>
<mat-divider></mat-divider>
<section>
    <div class="example-label">Mini FAB</div>
    <div class="example-button-row">
        <div class="example-flex-container">
            <div class="example-button-container">
                <button mat-mini-fab color="primary" aria-label="Example icon button with a menu icon">
                    <mat-icon>menu</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon">
                    <mat-icon>plus_one</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-mini-fab color="warn" aria-label="Example icon button with a filter list icon">
                    <mat-icon>filter_list</mat-icon>
                </button>
            </div>
            <div class="example-button-container">
                <button mat-mini-fab disabled aria-label="Example icon button with a home icon">
                    <mat-icon>home</mat-icon>
                </button>
            </div>
        </div>
    </div>
</section>

-->
<!--<mat-toolbar style="background-color:#122B57;">-->
<!--#007fa5;-->
    <!-- #008080 #051039  051039  #008080-->
    
       <!-- **<mat-toolbar-row>
        
            <button mat-button (click)="opened=!opened" class="menu"><mat-icon>menu</mat-icon></button>   
            <button mat-button class="home"> <mat-icon> home </mat-icon>Home</button>
            <br>-->
         <!--    <button mat-flat-button color="primary" (click)="initialiserLaBaseAvecDonneesDeTest()"> PeuplerBD</button> -->
            
          <!--   <mat-slide-toggle class="login" color="primary" (click)="login()">login</mat-slide-toggle>  -->
            
         <!--   <ul>
                <li> <a class="login2" routerLink="login">Login</a><li>
                <li> <a class="login3" routerLink="sign-up"> Sign-up</a></li>
            
            </ul>

          
        </mat-toolbar-row>

</mat-toolbar> 

<div>
<mat-sidenav-container>
   

    <mat-sidenav [(opened)]="opened" mode="side">
   

        <mat-list>
            <mat-list-item><a color="beige" routerLink="/home">Home </a></mat-list-item>
            <mat-list-item><a routerLink="/list">Liste des devoirs </a></mat-list-item>
            <mat-list-item><a routerLink="/add">Ajout d'un devoir </a></mat-list-item>
            <mat-list-item><a routerLink="/login">Login</a></mat-list-item>
            <mat-list-item><a routerLink="/sign-up">Sign-up</a></mat-list-item>
            <mat-list-item><a routerLink="/assignments ">Modification d'un devoir </a></mat-list-item>
            <mat-list-item><a routerLink="/assignments ">Suppression d'un devoir</a></mat-list-item>
            <mat-list-item><a routerLink="/assignments ">Génération de données de test</a></mat-list-item>
        </mat-list>

        
      
       
    </mat-sidenav>
       

    <mat-sidenav-content>-->

      
       <!-- Permet d'afficher le composant qui correspond à l'URL en fonction des routes-->
      <!--  <router-outlet></router-outlet>
     
    </mat-sidenav-content>
 
</mat-sidenav-container>
<ag-grid-angular 
    style="width: 900px; height: 350px;" 
    class="ag-theme-alpine" 
    [rowData]="rowData"
    [columnDefs]="columnDefs">
</ag-grid-angular>
</div>
-->



<!--<app-assignments> </app-assignments>-->