<p>add-assignment works!</p>
<form ngForm (submit)="onSubmit()" #assignmentForm>
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" name="nom" placeholder=" nom du devoir">
    </mat-form-field>
    <p>{{nomDevoir}}</p>
 <mat-form-field>
        <input matInput [matDatepicker]="picker" placeholder=" Date de rendu" [(ngModel)]="dateRendu" name="date">
    </mat-form-field>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <button mat-stroked-button color="primary" (Click)="onSubmit();" #assignmentForm> Ajouter un devoir </button>


</form>